<header>
  <div class="container">
    <a routerLink="/" class="logo">My Express Food</a>
    <nav>
      <ul>
        <li>
          <p class="h-100">Nesrine</p>
        </li>
        <li class="menu-container">
          <a routerLink="/dashboard">Menu</a>
          <div class="menu">
            <a routerLink="/profile">Profile</a>
            <a routerLink="/orders">Orders</a>
            <a routerLink="/login">Logout</a>
          </div>
        </li>
        <li>
          <a routerLink="/cart-page">
            Cart <span>{{cartQuantity}}</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>